<h5>Exemplos de Pipes</h5>

<p>Título: {{ livro.title | uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rate | number:'1.1-2' }}</p>
<p>Página: {{ livro.pageNumber | number }}</p>
<p>Preço: {{ livro.price | currency:'BRL' }}</p>
<p>Data de Lançamento: {{ livro.releaseDate | date:'dd/MM/yyyy' }}</p>
<p>URL: <a [href]="livro.url" target="_blank">{{ livro.url }}</a></p>
<br />
<p>Livro: {{ livro | json }}</p>

<p>
  <input type="text" [(ngModel)]="filtro">
</p>

<br />
<p>
  <input type="text" #novoValor>
  <button (click)="addCurso(novoValor)">Add Curso</button>
</p>

<ul>
  <li *ngFor="let liv of livros">
    {{ liv }}
  </li>
</ul>

<h5>Maneira correta de usar filtros nos projetos</h5>

<ul>
  <li *ngFor="let liv of getCursos()">
    {{ liv }}
  </li>
</ul>


<p>
  {{ valorAsync | async }}
</p>
